---
layout: default
title: Occupied Paris
---

<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>{{ "Occupied Paris" }}</h1>
  </body>
</html>



<!-- <div class="grid"> -->

  <!-- <img src="/assets/images/closed_book_icon.png" width=15%></img>
  <img src="/assets/images/map_icon.png" width=15%></img>
  <img src="/assets/images/globe_icon_2.png" width=15%></img> -->
<!-- 
  <br>
  <br>

{% for narrative in site.data.narratives %}
      <img src="{{ narrative.image }}" width=10% ></img>
      <h2><a href="{{ narrative.name | datapage_url: 'narratives' }}">{{narrative.name}}</a></h2>

{% endfor %} -->

<!-- 

<ul class="flex-container">
  <li class="flex-item">Henri Muller</li>
  <li class="flex-item">Georges Perec</li>
  <li class="flex-item">3</li>
  <li class="flex-item">4</li>
  <li class="flex-item">5</li>
  <li class="flex-item">6</li>
</ul>  -->

<div class="main-content">
  <div class="top-icon-container">
    <div class="nav-button">
      <a href = "/about.html"><li class="top-icon book"></li></a>
      <p>The Project</p>
    </div>
    <div class="nav-button">
      <a href = "https://pennds.org/melanieperon/neatline/fullscreen/test-exhibit" target="_blank"><li class="top-icon map"></li></a>
      <p>Map of Occupied Paris</p>
    </div>
    <div class="nav-button">
      <a href = "/atlas.html"><li class="top-icon globe"></li></a>
      <p>Atlas of Personal Stories</p>
    </div>
  </div>

<!-- row 2 -->
    <div class="bookshelf-container">
      <div class="book-item">
        <a href = "/hmuller"><li class="book-icon muller"></li></a>
        <!--<p>Henri Muller</p>-->
      </div>
      <div class="book-item">
        <a href = "/jedinak"> <li class="book-icon jerdinak"></li></a>
        <!--<p>Rachel Jerdinak</p>-->
      </div>
      <div class="book-item">
        <a href = "/bessmann"><li class="book-icon bessmann"></li></a>
       <!-- <p>Annette Bessmann</p>-->
      </div>
    </div>

    <!-- row 3 -->
    <div class="bookshelf-container">
      <div class="book-item">
        <a href = "/montard"><li class="book-icon montard"></li></a>
        <!--<p>Sarah Montard</p>-->
      </div>
      <div class="book-item">
        <a href = "/duval"> <li class="book-icon duval"></li></a>
        <!--<p>Marcelle Duval</p>-->
      </div>
      <div class="book-item">
        <a href = "/bessmann"><li class="book-icon lorch"></li></a>
        <!--<p>Francine Lorch</p>-->
      </div>
    </div>

        <!-- row 4 -->
    <div class="bookshelf-container">
      <div class="book-item">
        <a href = "/chapiro"><li class="book-icon chapiro"></li></a>
       <!-- <p>Yvette Chapiro</p>-->
      </div>
      <div class="book-item">
        <a href = "/mora"> <li class="book-icon mora"></li></a>
       <!-- <p>Mirka Mora</p>-->
      </div>
      <div class="book-item">
        <a href = "/dalsace"><li class="book-icon dalsace"></li></a>
       <!-- <p>Claude Dalsace</p>-->
      </div>
    </div>
  </div>

</div>


    <!-- 
  <div class="bookshelf">
    {% for narrative in site.data.narratives %}
      <div class="book-item">
        <a class="book-link" href="{{ narrative.page | datapage_url: 'narratives' }}"><img class="book-images" src="{{ narrative.image }}" width=10% ></img><p>{{ narrative.name }}</p></a>
      </div>
    {% endfor %}
  </div>-->


      <!-- <a class="book-item" href="https://www.w3schools.com/cssref/pr_background-image.asp">
        <li class="book-icon"></li>
        <p>Book!!</p>
      </a>
      <a class="book-item" href="https://www.w3schools.com/cssref/pr_background-image.asp">
        <li class="top-icon globe"></li>
        <p>Book!!</p>
      </a>
      <a class="book-item" href="https://www.w3schools.com/cssref/pr_background-image.asp">
        <li class="top-icon globe"></li>
        <p>Book!!</p>
      </a>
      <a class="book-item" href="https://www.w3schools.com/cssref/pr_background-image.asp">
        <li class="top-icon globe"></li>
        <p>Book!!</p>
      </a>
      <a class="book-item" href="https://www.w3schools.com/cssref/pr_background-image.asp">
        <li class="top-icon globe"></li>
        <p>Book!!</p>
      </a>
      <a class="book-item" href="https://www.w3schools.com/cssref/pr_background-image.asp">
        <li class="top-icon globe"></li>
        <p>Book!!</p>
      </a> -->

    


  <!-- <div class="button-container">
    <li class="top-icon"><a href="/about.html"><img src="/assets/images/closed_book_icon.png" alt="The Project"></a></li>
    <p>Lorem ipsum</p>
</div> -->


    <!-- <a href="/about.html"><img src="/assets/images/globe_icon_2.png" alt="The Project"></a> -->
