    
    <div class="site-header">
      <div class="site-header__wrapper">
        <div class="header-title">
          <a href="/fr/" class="brand"><img src="/assets/images/headers/header_2.png"  height="80px" alt="brand" /></a>
        </div>
        <div class="pages-navigation">
          <ul class="navbar-nav">
            <div class="nav-item">
              <a href="/fr/map.html">Carte</a>
            </div>
            <div class="nav-item">
              <a href="/fr/atlas.html">Atlas</a>
            </div>
            <div class="nav-item has-dropdown">
              <a href="/fr/about.html">Le Projet</a>
              <ul class="dropdown">
                <div class="dropdown-item">
                  <a href="/fr/about.html">Le Projet</a>
                </div>
                <div class="dropdown-item">
                  <a href="/fr/author.html">A propos de l'auteur</a>
                </div>
                <div class="dropdown-item">
                  <a href="/fr/context.html">Contexte Historique</a>
                </div>
                <div class="dropdown-item">
                  <a href="/fr/contributors.html">Contributeurs</a>
                </div>

              </ul>
            </div>
            <div class="nav-item">
              <a href="/en/{{ page.url | remove: '/fr/' }}"><i class="fa fa-solid fa-globe"></i></a>

            </div>



          </ul>


        </div>
    </div>
    
