<div class="site-header">
  <div class="site-header__wrapper">
    <div class="header-title">
      <a href="{{site.baseurl}}/fr/" class="brand"><img src="{{site.baseurl}}/assets/images/headers/french_header.png"  height="83px" alt="brand" /></a>
    </div>
    <div class="pages-navigation">
      <ul class="navbar-nav">
        <div class="nav-item">
          <a href="{{site.baseurl}}/fr/map.html">Carte</a>
        </div>
        <div class="nav-item">
          <a href="{{site.baseurl}}/fr/atlas.html">Atlas</a>
        </div>
        <div class="nav-item has-dropdown">
          <a href="{{site.baseurl}}/fr/about.html">Le Projet</a>
          <ul class="dropdown">
            <div class="dropdown-item">
              <a href="{{site.baseurl}}/fr/about.html">Le Projet</a>
            </div>
            <div class="dropdown-item">
              <a href="{{site.baseurl}}/fr/author.html">A propos de l'auteur</a>
            </div>
            <div class="dropdown-item">
              <a href="{{site.baseurl}}/fr/context.html">Contexte Historique</a>
            </div>
            <div class="dropdown-item">
              <a href="{{site.baseurl}}/fr/contributors.html">Contributeurs</a>
            </div>
          </ul>
        </div>
        <div class="nav-item">
          <a href="{{site.baseurl}}/en/{{ page.url | remove: '/fr/' }}"><i class="fa fa-solid fa-globe"></i></a>
        </div>
      </ul>
    </div>
</div>