    
    <div class="site-header">
      <div class="site-header__wrapper">
        <div class="header-title">
          <a href="/" class="brand"><img src="/assets/images/header_image_2.jpg"  height="40px" alt="brand" /></a>
        </div>
        <div class="pages-navigation">
          <ul class="navbar-nav">
            <div class="nav-item has-dropdown">
              <a href="/about">About</a>
              <ul class="dropdown">
                <div class="dropdown-item">
                  <a href="/contributors">Contributors</a>
                </div>
                <div class="dropdown-item">
                  <a href="/context">Historical Context</a>
                </div>

              </ul>
            </div>
            <div class="nav-item">
              <a href="/atlas">Atlas</a>
            </div>
            <div class="nav-item">
              <a href="/map">Map</a>
            </div>

          </ul>


        </div>
    </div>
    
