    
    <div class="site-header">
      <div class="site-header__wrapper">
        <div class="header-title">
          <a href="{{site.baseurl}}/en/" class="brand"><img src="{{site.baseurl}}/assets/images/headers/header_2.png"  height="80px" alt="brand" /></a>
        </div>
        <div class="pages-navigation">
          <ul class="navbar-nav">
            <div class="nav-item">
              <a href="{{site.baseurl}}/en/map.html">Map</a>
            </div>
            <div class="nav-item">
              <a href="{{site.baseurl}}/en/atlas.html">Atlas</a>
            </div>
            <div class="nav-item has-dropdown">
              <a href="{{site.baseurl}}/en/about.html">About</a>
              <ul class="dropdown">
                <div class="dropdown-item">
                  <a href="{{site.baseurl}}/en/about.html">The Project</a>
                </div>
                <div class="dropdown-item">
                  <a href="{{site.baseurl}}/en/author.html">About the Author</a>
                </div>
                <div class="dropdown-item">
                  <a href="{{site.baseurl}}/en/context.html">Historical Context</a>
                </div>
                <div class="dropdown-item">
                  <a href="{{site.baseurl}}/en/contributors.html">Contributors</a>
                </div>

              </ul>
            </div>
            <div class="nav-item">
              <a href="{{site.baseurl}}/fr/{{ page.url | remove: '/en/' }}"><i class="fa fa-solid fa-globe"></i></a>

            </div>




          </ul>


        </div>
    </div>
    
