
/* Our default values set as CSS variables */
:root {
    --color-bg: #FFFFFF;
    --color-text-main: #000000;
    --color-primary: #5999E4;
    --wrapper-height: 87vh;
    --image-max-width: 300px;
    --image-margin: 3rem;
    --font-family: "HK Grotesk";
    --font-family-header: "HK Grotesk";
  }
  
  /* Basic page style resets */
  * {
    box-sizing: border-box;
  }
  [hidden] {
    display: none !important;
  }
  
  /* Import fonts */
  @font-face {
    font-family: HK Grotesk;
    src: url("https://cdn.glitch.com/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Regular.otf?v=1603136326027")
      format("opentype");
  }
  @font-face {
    font-family: HK Grotesk;
    font-weight: bold;
    src: url("https://cdn.glitch.com/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Bold.otf?v=1603136323437")
      format("opentype");
  }
  
  /* Our remix on glitch button */
  .btn--remix {
    font-family: HK Grotesk;
    padding: 0.75rem 1rem;
    font-size: 1.1rem;
    line-height: 1rem;
    font-weight: 500;
    height: 2.75rem;
    align-items: center;
    cursor: pointer;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 4px;
    text-decoration: none;
    color: #000;
    white-space: nowrap;
    margin-left: auto;
  }
  .btn--remix img {
    margin-right: 0.5rem;
  }
  .btn--remix:hover {
    background-color: #D0FFF1;
  }
  
  /* Navigation grid */


  
  .navigation a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: #000000;
    text-transform: uppercase;
  }

  .navigation b {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: #ee0606;
  }
  
  .navigation a:hover {
    background: #5999E4;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    margin: 1rem auto 0;
    padding: 1rem 0 0.75rem 0;
    width: 100%;
    flex-wrap: wrap;
    border-top: 4px solid #fff;
  }
  
  .footer a:not(.btn--remix):link,
  a:not(.btn--remix):visited {
    font-family: HK Grotesk;
    font-style: normal;
    font-weight: normal;
    font-size: 1.1rem;
    color: #000;
    text-decoration: none;
    border-style: none;
  }
  .footer a:hover {
    background: var(--color-primary);
  }
  
  .footer .links {
    padding: 0.5rem 1rem 1.5rem;
    white-space: nowrap;
  }
  
  .divider {
    padding: 0 1rem;
  }

  body {
    font-family: HK Grotesk;
    background-color: var(--color-bg);
  }
  
  /* Page structure */
  .wrapper {
    min-height: var(--wrapper-height);
    display: grid;
    place-items: center;
    margin: 0 1rem;
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  /* Very light scaling for our illustration */
  .title {
    color: #5999E4;
    font-family: HK Grotesk;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 105%;
    margin: 0;
  }
  
  /* Very light scaling for our illustration */
  .illustration {
    max-width: 100%;
    max-height: var(--image-max-width);
    margin-top: var(--image-margin);
  }
  
  /* Instructions */
  .instructions {
    margin: 1rem auto 0;
  }
  
  /* Button - Add it from the README instructions */
  button,
  input {
    font-family: inherit;
    font-size: 100%;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    transition: 500ms;
  }
  
  /* Subheading */
  h1 {
    color: #5999E4;
  }
  h2 {
    color: #3b4652;
  }
  
  /* Interactive image */
  .illustration:active {
    transform: translateY(5px);
  }
  
  /* Button dip
  - Toggling this class on and off will move it down and up again
  - The button transition property above determines the speed of the translate (500ms)
  */
  .dipped {
    transform: translateY(5px);
  }

  /* Flex containers
   */

  
  .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .top-icon-container {
    display: flex;
    align-items: center;
    flex-flow: row wrap;  
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
    /* border-bottom: 20px solid black; */
    padding-top: 4%;
    width: 80%;
    border-bottom: 20px solid rgb(36, 36, 36);  
  }

  .bookshelf-container {
    display: flex;
    flex-flow: row wrap;  
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
    padding-top: 30px;
    /* border-bottom: 20px solid black; */
    width: 80%;
    height: 100%;
    border-bottom: 20px solid rgb(36, 36, 36);
  }

 /* .bookshelf {
    flex-direction: row;
    flex-flow: row wrap;
    display: flex;
    padding: 0;
    margin: 0;
    width: 80%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
  } */

  /* todo look at breakpoints for css mobile -- mobile breakpoints */

  /* .book-item-old {
    display: flex;
    flex-flow: column wrap;  
    flex-wrap: wrap;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    border-bottom: 20px solid black; 
    margin-top: 10px;
    width: 250px;
  } */

  .book-images {
    display: block;
    max-width:300px;
    max-height:180px;
    width: auto;
    height: 100%;

    }

  .book-link {
    color: black;
    text-decoration: none
  }

  .nav-button {
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    flex-direction: column;
  }


  .book-item {
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    box-shadow: 0 0 8px gray;
    flex-basis: 5%;

    
  }

  .book-item a {
    text-decoration: none;
  }

  


  .top-icon {
    padding: 1px;
    width: 160px;
    height: 190px;
    margin-top: 40px;
    line-height: 150px;
    font-weight: bold;
    text-align: center;
    background-size: contain;
    background-repeat: no-repeat;
    flex-direction: column;
    justify-content:center;
    align-items: center

  }

  .book-icon {
    width: 180px;
    line-height: 200%;
    font-weight: bold;
    padding-bottom: 1px;
    background-size: contain;
    background-repeat: no-repeat;
    height: 280px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;



  }

  .globe {
    background-image: url("/assets/images/globe_icon_2.png");
    
  }

  .book {
    background-image: url(/assets/images/closed_book_icon.png);
  }

  .map {
    background-image: url(/assets/images/map_icon.png)
  }

  .muller {
    background-image: url("/assets/images/book_images/muller.jpg");
    background-size: cover;

  }

  .jerdinak {
    background-image: url("/assets/images/book_images/jedinak.jpg");
    background-size: cover;
  }

  .bessmann {
    background-image: url("/assets/images/book_images/bessmann.jpg");
    background-size: cover;
  }

  .chapiro {
    background-image: url("/assets/images/book_images/chapiro.jpg");
    background-size: cover;
  }

  .dalsace {
    background-image: url("/assets/images/book_images/dalsace.jpg");
    background-size: cover;
  }

  .duval {
    background-image: url("/assets/images/book_images/duval.jpeg");
    background-size: cover;
  }

  .lorch {
    background-image: url("/assets/images/book_images/lorch.jpg");
    background-size: cover;
  }

  .montard {
    background-image: url("/assets/images/book_images/montard.jpg");
    background-size: cover;
  }

  .mora {
    background-image: url("/assets/images/book_images/mora.jpg");
    background-size: cover;
  }

  .testyler {
    background-image: url("/assets/images/book_images/testyler.jpg");
    background-size: cover;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }
  
  li {
    height: 30vh;
    flex-grow: 1;
    list-style: none;

  }

  .top-icon:hover{
    transform: scale(1.1);
  }

  /*.book-item:hover{
    transform: scale(1.1);
  } */

  .book-item:hover {
    display: flex;
    flex-direction:column;
    justify-content:center;


  }

  .hover-title {
    z-index:10;
    font-size: 20px;
    color: black;
    opacity: 0;
    text-align: center;
    margin: auto;
    text-shadow: 2px 2px #FFFFFF;
    letter-spacing: 1px;
    text-align: center;
    align-items: center;
    padding: 70px 0;
    font-size: x-large;



    

  }


  .book-item:hover .hover-title {
    opacity:1;
    text-align: center;


  }

  .book-item:hover li {
    background: rgba(205, 224, 246, 0.4);  
  }






  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  .site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%
  }


  .brand {
    display: flex;
    align-items: flex-start;
    flex-flow: row nowrap;

  }


  .site-header__wrapper {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    width: 95%;
  }

  .header-title {
    display: flex;
    align-items: flex-start;
    flex-flow: row nowrap;
    align-items: center;

  }

 /* .pages-navigation {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: flex-end;
    margin: 0; 
    background: rgb(250, 254, 255);
    margin-left: auto;
    font-size: large;
  } */

  .pages-navigation {
    height: 70px;
    width: 100%;
    background: white;
    color:rgb(250, 254, 255);
  }

  .navbar-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }


  .has-dropdown {
    display: flex;
    justify-content: space-around;
  }

  .has-dropdown:hover .dropdown   {
    opacity: 0;
    pointer-events: auto;
}

  .dropdown {
    position: absolute;
    width: 500px;
    z-index: 2;
    background: white;
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 3rem;
    margin-top: 2rem;
    padding: 0.5rem;
   
    transform: translateX(-40%);
    transition: opacity .15s ease-out;
}



.dropdown-item a {
    width: 100%;
}


  /* styles for "about" and "historical context" pages */

  .banner {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    flex-direction: column;
    height: 250px;


  }



  .banner-about {
    background-image: url("/assets/images/banner_images/banner_image_1.jpg");
    background-size: cover;
    background-position:0% 80%;

  }

  .banner-amuller {
    background-image: url("/assets/images/banner_images/communion_annette.jpg");
    background-size: cover;
    background-position:0% 45%;
  }

  .banner-michel {
    background-image: url("/assets/images/banner_images/banner-michel.jpg");
    background-size: cover;
    background-position: 0% 45%;

  }

  .banner-context {
    background-image: url("/assets/images/banner_images/newspaper.png");
    background-size: cover;
    background-position:0% 10%;

  }



  .img {
    max-width: 100%;
  }

  .img-inline {
    width: 450px;
    display: block;
    clear: right;
    float: center;
    margin: 0 0 0 15px;

  }    

  .img-group {
    display: flex;
    justify-content: center;
  } 
  
  .img-group-item {
    padding: 10px;
    width: 30%;
  }

  .img-single {
    display: flex;
    margin: auto;
    max-width: 50vw;
    padding: 10px;
  } 
  
  
  /******************************************************************************
  styles for biography pages (i.e.) Henri Muller -- Angie
******************************************************************************/
.navbar {
  background:  white;
  padding:  15px 50px 75px 50px;

}

#go-back {
      color: #000000;
    font-family: HK Grotesk;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 105%;
    margin-left: 110px;
    opacity:  50%;
}

ul {
  list-style-type: none;
}


.right-col {
  margin:  5em;
  padding:  5em;
}


/* Style the links inside the navigation bar */
.navbar-pn a {
  float: left;
  display: block;
  color: #000000;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  font-size: 20px;
}

/* Change the color of links on hover */
.navbar-pn a:hover {
  background-color: #5999E4;
  color: white;
}

.navbar-atlas a {
  float: left;
  display: block;
  color: #000000;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  font-size: 20px;
}

/* Change the color of links on hover */
.navbar-atlas a:hover {
  background-color: #5999E4;
  color: white;
}

.navbar-atlas a:active {
  background-color: #5999E4;
  color: white;
}

.container .right-col .biography-header h1 {
  font-size: 4em;
  font-weight: bold;
}

#biography-subheader {
  text-align: right;
  float: right;
  margin: 20px 0;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 400px;
}

.left-col .biography-photo {
  float: left;
  margin:  0;
  padding:  0;
  width:  700px;
}

section {
  padding: 5em 2em;
}

.right-col .biography-header {
  font-size: 48px;
}

.right-col .biography-under {
  color: 3a3b3c;
  margin-top: 2.5em;
  opacity: 0.9;
}

.right-col .biography-subheader {
  color: 3a3b3c;
  opacity:  0.8;
}

.interactive-map {
  text-align: center;
}

.timeline {
  background-color: B0B3B8;
}

/* Navbar container */

.navbar-pn {
  overflow: hidden;
  font-family: HK Grotesk;
  background-color: #e6f0fa;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 10;
  box-shadow: 5px 5px 5px 5px grey;
  padding: 0.5%;
}

/* Links inside the navbar */
.navbar-pn a {
  float: left;
  font-size: 18px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar-atlas {
  overflow: hidden;
  font-family: HK Grotesk;
  background-color: #e6f0fa;

  box-shadow: 5px 5px 5px 5px grey;
  padding: 0.5%;
}

/* Links inside the navbar */
.navbar-atlas a {
  float: left;
  font-size: 18px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  margin-left:  5em;
  float: right;
  font-size: 18px;
  font-weight: bolder;
  margin: 0px 55px 35px 55px;
  padding-top: 50px;
  padding-left: 60px;
  padding-right: 60px;
  border: none;
  outline: none;
  color: black;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

.navbar-pn #bar-items {
  padding:  20px;
  text-align:  left;
}

.navbar-atlas #bar-items {
  padding:  20px;
  text-align:  left;
}

/* Add a blue background color to navbar links on hover */
#bar-items .navbar a:hover, .dropdown:hover .dropbtn  {
  background-color: #5999E4;
}

/* Add a blue background color to navbar links on hover */
#bar-items .navbar a:hover {
  background-color: #5999E4;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a blue background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #5999E4;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/*reposition occupied paris logo*/
.navbar-np #logo a {
  font-size: large;
  margin-right: 45em;
  margin-left: 2em;
  }




  Result Skip Results Iframe
EDIT ON

pn-body {
  padding: 50px;
}

.pn-container {
  border: none;
  padding: 20px 40px 40px;
  display: flex;
}
.pn-image {
  margin: 20px 8% 0 0;
    width: 30%;
    object-fit: contain;
    align-self: flex-start;
}


.pn-text {
  margin: 5px 5px 0 0;
  flex: 1 1 auto;
}


.pn-text header {
  color: #5999E4;
  font-size: 350%;
  font-weight: bold;
}

.pn-text h2 {
  color: black;
  font-weight: bold;
  font-size: larger;
  margin: 0 0 5% 0;
}

.pn-text-bio {
  margin: 20px 30px 0 0;
  flex: 1 1 auto;
}


.pn-text-bio header {
  color: #5999E4;
  font-size: 350%;
  font-weight: bold;
}

.pn-text-bio h2 {
  color: black;
  font-weight: bold;
  font-size: larger;
  margin: 3% 0 5% 0;
}

.pn-container-section {
  border: none;
  padding: 20px 40px 40px;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 5%;
  margin: 20px 80px 0 0;
  flex: 1 1 auto;

}



.pn-container-section h2 {
  color: #2d4d72;
  font-size: 160%;
  font-weight: bold;
  text-transform: uppercase;

}

.pn-container-section-embed {
  border: none;
  padding: 20px 40px 40px;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 5%;
  margin: 20px 20px 20px 20px;
  flex: 1 1 auto;
  background-color: #EAEAEA;

}



.pn-container-section-embed h2 {
  color: #2d4d72;
  font-size: 160%;
  font-weight: bold;
  text-transform: uppercase;

}

@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i');

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');


* {
  box-sizing: border-box;
}

.carousel-body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 600px;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
  -webkit-justify-content: center;
    align-items: center;
  -webkit-align-items: center;
}

.carousel-body {
    background-color: #eaeaea;
}

.carousel {
    width: 100%;
    height: 100%;
    display: flex;
    max-width: 900px;
    max-height: 550px;   
    overflow: hidden;
  position: relative;
}

.carousel-item {
  visibility:visible;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
      -webkit-align-items: center;
    -webkit-justify-content: flex-end;
    position: relative;
    background-color: #fff;
    flex-shrink: 0;
   -webkit-flex-shrink: 0;
    position: absolute;
    z-index: 0;
  transition: 0.6s all linear;
}

.carousel-item__info {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  
    display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-flex-direction: column;
  
  order: 1;
  left: 0;
  margin: auto;
  padding: 0 40px;
  width: 40%;

}

.carousel-item__image {
    width: 60%;
    height: 100%;
    order: 2;
    align-self: flex-end;
    flex-basis: 60%;
  
      -webkit-order: 2;
    -webkit-align-self: flex-end;
    -webkit-flex-basis: 60%;
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   position:relative;
  transform: translateX(100%);
  transition: 0.6s all ease-in-out;
}

.carousel-item__subtitle {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 3px;
    font-size: 10px;
    text-transform: uppercase;
    margin: 0;
    color: #7E7E7E;    
    font-weight: 700;
    transform: translateY(25%);
    opacity: 0;
    visibility: hidden;
    transition: 0.4s all ease-in-out;
}

.carousel-item__title {
    margin: 15px 0 0 0;
    font-family: 'Playfair Display', serif;
    font-size: 44px;
    line-height: 45px;
    letter-spacing: 3px;
    font-weight: 700;
    color: #2C2C2C;
    transform: translateY(25%);
    opacity: 0;
    visibility: hidden;
    transition: 0.6s all ease-in-out;
}

.carousel-item__description {
    transform: translateY(25%);
    opacity: 0;
    visibility: hidden;
    transition: 0.6s all ease-in-out;
    margin-top: 35px;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #7e7e7e;
    line-height: 22px;
    margin-bottom: 35px;
}

.carousel-item--1 .carousel-item__image{
  background-image: url('/assets/images/muller/letters/28_juillet_1942_back.JPG');
}


.carousel-item--2 .carousel-item__image{
  background-image: url('/assets/images/muller/letters/carte_23.8.1942.jpg');
}

.carousel-item--3 .carousel-item__image{
  background-image: url('/assets/images/muller/letters/carte_7.9.42_a.jpg');
}

.carousel-item--4 .carousel-item__image{
  background-image: url('https://images.pexels.com/photos/1008732/pexels-photo-1008732.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
}

.carousel-item--5 .carousel-item__image{
  background-image: url('https://images.pexels.com/photos/1029614/pexels-photo-1029614.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
}




.carousel-item__container{

}

.carousel-item__btn {
    width: 35%;
    color: #2C2C2C;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 3px;
    font-size: 11px;
    text-transform: uppercase;
    margin: 0;
    width: 35%;
    font-weight: 700;
  text-decoration: none;
      transform: translateY(25%);
    opacity: 0;
    visibility: hidden;
    transition: 0.6s all ease-in-out;
}

.carousel__nav {
    position: absolute;
    right: 0;
    z-index: 2;
    background-color: #fff;
  bottom: 0;
}

.carousel__icon {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
  fill: #5d5d5d;
}

.carousel__arrow {
    cursor: pointer;
    display: inline-block;
    padding: 11px 15px;
    position: relative;
}

.carousel__arrow:nth-child(1):after {
    content:'';
    right: -3px;
    position: absolute;
    width: 1px;
    background-color: #b0b0b0;
    height: 14px;
    top: 50%;
    margin-top: -7px;
}

.active{
   z-index: 1;
  display: flex;
  visibility:visible;
}

.active .carousel-item__subtitle, .active .carousel-item__title, .active .carousel-item__description,.active .carousel-item__btn{
    transform: translateY(0);
    opacity: 1;
  transition: 0.6s all ease-in-out;
    visibility: visible;
}



.active .carousel-item__image{ 
transition: 0.6s all ease-in-out;
transform: translateX(0);
}


