---
layout: home_fr
title: Occupied Paris
---

<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p></p>
    <p></p>
    <p></p>
    <p></p>

  </body>
</html>



<!-- <div class="grid"> -->

  <!-- <img src="/assets/images/closed_book_icon.png" width=15%></img>
  <img src="/assets/images/map_icon.png" width=15%></img>
  <img src="/assets/images/globe_icon_2.png" width=15%></img> -->
<!-- 
  <br>
  <br>

{% for narrative in site.data.narratives %}
      <img src="{{ narrative.image }}" width=10% ></img>
      <h2><a href="{{ narrative.name | datapage_url: 'narratives' }}">{{narrative.name}}</a></h2>

{% endfor %} -->

<!-- 

<ul class="flex-container">
  <li class="flex-item">Henri Muller</li>
  <li class="flex-item">Georges Perec</li>
  <li class="flex-item">3</li>
  <li class="flex-item">4</li>
  <li class="flex-item">5</li>
  <li class="flex-item">6</li>
</ul>  -->

<div class="main-content">
  <div class="top-icon-container">
    <div class="nav-button">
      <a href = "/fr/about.html"><div class="top-icon-v book"></div></a>
      <p>Le Projet</p>
    </div>
    <div class="nav-button">
      <a href = "/fr/map.html"><li class="top-icon-h map"></li></a>
      <p>Carte Interactive</p>  
    </div>
    <div class="nav-button">
      <a href = "/fr/atlas.html"><li class="top-icon-v globe"></li></a>
      <p>Atlas des cartes</p>
    </div>
  </div>

<!-- row 2 -->
    <div class="bookshelf-container">
      <div class="book-item">
        <a href = "/fr/hmuller.html"><li class="book-icon-wider muller"><span class="hover-title"><b>Famille Muller</b> <br>3, rue de l’Avenir<br>Paris 20ème <br>Métro : Place-des-Fêtes
          </span></li></a>
        <!--<p>Henri Muller</p>-->
      </div>
      <div class="book-item">
        <a href = "/fr/reiman.html"><li class="book-icon reiman"><span class="hover-title"><b>Famille Reiman</b> <br>114, rue du Temple<br>Paris 3ème<br>Métro : Temple
          <br>
          </span></li></a>
        <!--<p>Henri Muller</p>-->
      </div>

      <div class="book-item">
        <a href = "/fr/christophe.html"> <li class="book-icon-short christophe"><span class="hover-title"><b>Famille Christophe</b><br>106, rue Cardinatet<br>Paris 17ème<br>Métro :  Malesherbes

        </span></li></a>
        <!--<p>Rachel Jerdinak</p>-->
      </div>
    </div>

    <!-- row 3 -->
    <div class="bookshelf-container">
      <div class="book-item">
        <a href = "/fr/error_fr.html"><li class="book-icon-wider bernheim"><span class="hover-title">Françoise Bernheim</span></li></a>
        <!--<p>Sarah Montard</p>-->
      </div>
      <div class="book-item">
        <a href = "/fr/error_fr.html"> <li class="book-icon-horizontal berr"><span class="hover-title">Hélène Berr</span></li></a>
        <!--<p>Marcelle Duval</p>-->
      </div>
      <div class="book-item">
        <a href = "/fr/error_fr.html"><li class="book-icon-square jacobson"><span class="hover-title">Louise Jacobson</span></li></a>
        <!--<p>Francine Lorch</p>-->
      </div>
    </div>

        <!-- row 4 -->
    <div class="bookshelf-container">
      <div class="book-item">
        <a href = "/fr/error_fr.html"><li class="book-icon cohen"><span class="hover-title">Marcel Cohen</span></li></a>
       <!-- <p>Yvette Chapiro</p>-->
      </div>
      <div class="book-item">
        <a href = "/fr/jedinak.html"> <li class="book-icon-wider psankiewicz">
        <span class="hover-title">
          <b>Famille Psankiewicz</b><br>26, rue de Duris<br>Paris 20ème <br>Métro: Père-Lachaise
        </span></li></a> 
       <!-- <p>Mirka Mora</p>-->
      </div>
      <div class="book-item">
        <a href = "/fr/error_fr.html"><li class="book-icon-square-short lichtsztejn"><span class="hover-title"><b>Sarah Montard</b>></span></li></a>
       <!-- <p>Claude Dalsace</p>-->
      </div>
    </div>
  </div>

  <br>
  <br>
  <br>

</div>


    <!-- 
  <div class="bookshelf">
    {% for narrative in site.data.narratives %}
      <div class="book-item">
        <a class="book-link" href="{{ narrative.page | datapage_url: 'narratives' }}"><img class="book-images" src="{{ narrative.image }}" width=10% ></img><p>{{ narrative.name }}</p></a>
      </div>
    {% endfor %}
  </div>-->


      <!-- <a class="book-item" href="https://www.w3schools.com/cssref/pr_background-image.asp">
        <li class="book-icon"></li>
        <p>Book!!</p>
      </a>
      <a class="book-item" href="https://www.w3schools.com/cssref/pr_background-image.asp">
        <li class="top-icon globe"></li>
        <p>Book!!</p>
      </a>
      <a class="book-item" href="https://www.w3schools.com/cssref/pr_background-image.asp">
        <li class="top-icon globe"></li>
        <p>Book!!</p>
      </a>
      <a class="book-item" href="https://www.w3schools.com/cssref/pr_background-image.asp">
        <li class="top-icon globe"></li>
        <p>Book!!</p>
      </a>
      <a class="book-item" href="https://www.w3schools.com/cssref/pr_background-image.asp">
        <li class="top-icon globe"></li>
        <p>Book!!</p>
      </a>
      <a class="book-item" href="https://www.w3schools.com/cssref/pr_background-image.asp">
        <li class="top-icon globe"></li>
        <p>Book!!</p>
      </a> -->

    


  <!-- <div class="button-container">
    <li class="top-icon"><a href="/about.html"><img src="/assets/images/closed_book_icon.png" alt="The Project"></a></li>
    <p>Lorem ipsum</p>
</div> -->


    <!-- <a href="/about.html"><img src="/assets/images/globe_icon_2.png" alt="The Project"></a> -->
